<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ログイン</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.input :email, required: false, class: "form-control" %>
              <%= f.input :password, required: false, class: "form-control" %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "ログイン", class: "btn btn-success btn-group-justified" %>
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
