<!DOCTYPE html>
<html>
<head>
  <title>PostApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <p class="alert alert-success"><%= notice %></p>
        <p class="alert alert-danger"><%= alert %></p>
      </div>
    </div>
  </div>

  <%= yield %>
</body>
</html>
